/* ChatHeader.css */

/* ChatHeader.css */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
    width: calc(100% - 30px); /* 좌우 여백을 고려한 너비 조정 */
    max-width: 600px; /* 원하는 최대 너비 설정 */
    margin: 0 auto; /* 헤더를 화면 중앙으로 정렬 */
    position: relative; /* 필요 시 fixed 대신 relative로 변경 */
    gap: 30px; /* 제목과 아이콘 사이의 간격 설정 */
  }
  
  .chat-container {
    padding-top: 60px; /* 헤더 높이만큼 상단 패딩 추가 */
  }
  
  
  .chat-room-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .back-icon, .menu-icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .banner {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    transition: right 0.3s ease;
    z-index: 20; /* 배너가 다른 요소보다 위에 나오도록 설정 */
  }
  
  .banner.open {
    right: 0;
  }